.info-about
  text-align center
  h3
    color #3677fd
    font 300 50px "Lato", sans-serif
    margin 85px 0 60px
    padding 0
  p
    margin 0 0 110px
    padding 0
    color #5a5a5a
    font 400 16px/35px "Lato", sans-serif
