.wrap-clients
  background #f1f8ff
  text-align center
  display flex
  -webkit-display flex
  h3
    color #3677fd
    font 300 50px "Lato", sans-serif
    margin 85px 0 60px
    padding 0
.list-clients
  margin 0 auto 100px
.icon-logo-client
  &:before
    content ""
    display inline-block
    width 190px
    height 50px
.icon-msft
  &:before
    background url("../img/msft.png") no-repeat center center
.icon-samsung
  &:before
    background url("../img/samsung.png") no-repeat center center
.icon-ibm
  &:before
    background url("../img/ibm.png") no-repeat center center
.icon-google
  &:before
    background url("../img/google.png") no-repeat center center