.wrap-expert-in
  background #f1f8ff
  text-align center
h3
  color #3677fd
  font 300 50px "Lato", sans-serif
  margin 85px 0 60px
  padding 0
.item-expert
  h4
    color #3677fd
    text-transform uppercase
    font 700 24px "Lato", sans-serif
    margin 45px 0 30px
  p
    color #5a5a5a
    font 400 16px/35px "Lato", sans-serif
.icon-expert-in
  &:before
    content ""
    display inline-block
    width 145px
    height 145px
.icon-mobile-design
  &:before
    background url("../img/mobile-app-design.png") no-repeat
.icon-web-design
  &:before
    background url("../img/web-design.png") no-repeat
.icon-web-development
  &:before
    background url("../img/web-development.png") no-repeat
.icon-prod-design
  &:before
    background url("../img/product-design.png") no-repeat
.icon-ux-ui
  &:before
    background url("../img/ux-ui.png") no-repeat
.icon-animation
  &:before
    background url("../img/animations.png") no-repeat
.expert-top
  margin 0 0 90px
.expert-bottom
  margin 0 0 100px