.wrap-latest-works
  text-align center
  h3
    color #3677fd
    font 300 50px "Lato", sans-serif
    margin 85px 0 60px
    padding 0
.line-works-top
  margin-bottom 50px
.item-work
  width 360px
  height 270px
  border-radius 10px
  -webkit-border-radius 10px
  background-color #f4f4f4
  margin 0 auto
.line-works-bottom
  margin-bottom 180px