.wrap-welcome
  background #3695ff
  min-height 870px
.cookies
  background #194277
  min-height 70px
  display flex
  -webkit-display flex
  position absolute
  top 0
  left 0
  right 0
.info-cookies
  display flex
  -webkit-display flex
  margin auto
  align-items center
  -webkit-align-items center
  padding 0 10px
  p
    margin 0
    padding 0
    color #ffffff
    font 400 16px "Lato", sans-serif
  a
    margin 0
    padding 8px 35px
    border 0
    font 700 12px "Lato", sans-serif
    color #194277
    border-radius 45px
    -webkit-border-radius 45px
    margin-left 50px
.picture-profile
  width 190px
  height 190px
  margin 150px auto 50px
  border-radius 50%
  -webkit-border-radius 50%
  position relative
  &:before
  &:after
    content ""
    display block
    position absolute
    border-radius 50%
    -webkit-border-radius 50%
  &:before
    background rgba(255,255,255,.1.5)
    top 0
    right 0
    bottom 0
    left 0
  &:after
    background rgba(255,255,255,.1.1)
    z-index 0
    top 10px
    right 10px
    bottom 10px
    left 10px
  img
    position absolute
    width 150px
    height 150px
    z-index 2
    top 20px
    right 20px
    bottom 20px
    left 20px
    border-radius 50%
    -webkit-border-radius 50%
.section-info-welcome
  display flex
  -webkit-display flex
  flex-direction column
  -webkit-flex-direction column
.info-welcome
  text-align center
  margin auto
  text-transform uppercase
  color #ffffff
  h1
    margin 0
    padding 0
    font 900 50px "Lato", sans-serif
  p
    margin 0
    padding 40px 0 75px
    font 300 16px/35px "Lato", sans-serif
  span
    display block
  a
    margin 0
    padding 18px 65px
    border-radius 45px
    -webkit-border-radius 45px
    color #3695ff
    font 700 16px "Lato", sans-serif
.arrow-down
  margin 75px auto 15px
  cursor pointer
.icon-menu
  &:before
    content ""
    width 20px
    height 30px
    display block
    background url("../img/arrow-down.png") no-repeat
